<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    <div class="container">
        <div class="login-title">Login</div>
        <form action="./login" method="post">
            <div class="user-login-details">

                <div class="input-login-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your Email" name="email" />
                </div>

                <div class="input--login-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your Password" name="password" />
                </div>

                <div class="button">
                    <input type="submit" value="Login" />
                </div>
            </div>
    </div>
    </form>
    </div>
</body>

</html>